/* contêiner da faixa de texto */
.mrqWrap {
    width: 100%;             /* largura visível do scroll */
    overflow: hidden;        /* esconde o texto que sai da área */
    position: relative;      /* base para posicionamento do texto */
    white-space: nowrap;     /* mantém tudo em uma linha */ 
    min-height: 1.2em; /* um pouco maior que 1em para não cortar as descidas */
    padding-bottom: 2px; /* opcional, garante espaço extra */
}

/* texto interno que vai rolar */
.mrqInner {
    position: absolute;
    left: 100%;              /* inicia fora à direita do contêiner */
    top: 0;                  /* alinhamento vertical */
    line-height: 50px;       /* centraliza verticalmente */
}

.mrqWrap.footer .mrqInner {
    line-height: normal;       /* centraliza verticalmente */
}

/*
============================================================
    WIDGET STATUS.CAFE
============================================================ */
#statuscafe {
    padding: .5em;
    background-color: azure;
    border: 1px solid midnightblue;
}
#statuscafe-username {
    margin-bottom: .5em;
}
#statuscafe-content {
    margin: 0 1em 0.5em 1em;
}

/* ============================================================
    SCROLLBAR — WEBKIT / BLINK (Edge, Chrome, Safari)
    ============================================================ */
@supports selector(::-webkit-scrollbar) {
::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-track:vertical {
    background: linear-gradient(to right, #eee, #fff);
    border-left: 1px solid #ccc;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #ddd;
    border-radius: 100px;
    box-shadow: inset 2px 0 3px #0002,
                inset 0 -2px 3px #0003,
                inset 0 2px 3px #0003;
}

::-webkit-scrollbar-thumb:vertical {
    background:
    linear-gradient(to right, #6af 10%, #fff4 20%, #6af 30%, #9ef),
    linear-gradient(to bottom, #6af 5px, #6af0 10px),
    linear-gradient(to top, #6af 5px, #6af0 10px);
    border: 1px solid #ccc;
    box-sizing: border-box;
    box-shadow: inset 0 0 4px #004;
    min-height: 30px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:hover {
    box-shadow: inset 0 0 7px #004;
}

::-webkit-scrollbar-thumb:active {
    box-shadow: inset 0 0 8px #002;
}

::-webkit-scrollbar-corner {
    background: linear-gradient(to right, #ccc, #fff 20%, #ddd);
}
}

/* ============================================================
    SCROLLBAR — FIREFOX (Gecko)
    ============================================================ */
@-moz-document url-prefix() {
* {
    scrollbar-width: thin;
    scrollbar-color: #6af #eee;
}

/* Opcional: simular leve "relevo" no Firefox */
body, textarea, div {
    scrollbar-color: #6af #f8f8f8;
    scrollbar-width: thin;
}
}